
header.result_0 {
  background-image: url('../img/result_0.jpg');
}
header.result_1 {
  background-image: url('../img/result_1.jpg');
}
header.result_2 {
  background-image: url('../img/result_2.jpg');
}
header.result_3 {
  background-image: url('../img/result_3.jpg');
}

.header-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.6);
}

.btn-fb {
  color: #4267b2;
}

section {
  padding-bottom: 500px;
}

label {
  font-size: large;
  padding-bottom: 10px;
}